<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о студенте</title>
</head>
<body>
<h2>Информация о студенте</h2>

<!-- Используем Thymeleaf для вывода информации о студенте -->
<p th:text="'Имя: ' + ${student.getFirstName()}"></p>
<p th:text="'Фамилия: ' + ${student.getLastName()}"></p>
<p th:text="'Факультет: ' + ${student.getFaculty()}"></p>
<p th:text="'Группа: ' + ${student.getGroup()}"></p>

<!-- Добавляем кнопку UPDATE -->
<form th:action="@{'/students/' + ${student.getId()}+'/update'}" method="get">
    <button type="submit">UPDATE</button>
</form>

<h2>список одногруппников:</h2>
<div th:each="groupmate : ${groupMates}">
    <a th:href="@{'/students/' + ${groupmate.getId()}}" th:text="|${groupmate.getFirstName()}, ${groupmate.getLastName()}|">User</a>
</div>
</body>
</html>
