<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о студенте</title>
</head>
<body>
<h2>Информация о студенте</h2>

<form action="#" th:object="${student}" method="post">
    <p>Имя: <input type="text" th:field="${firstName}" /></p>
    <p>Фамилия: <input type="text" th:field="${lastName}" /></p>
    <p>Факультет: <input type="text" th:field="${faculty}" /></p>
    <p>Группа: <input type="text" th:field="${group}" /></p>
    <button type="submit">Обновить</button>
</form>

<h2>список одногруппников:</h2>
<div th:each="groupmate : ${groupMates}">
    <a th:href="@{'/students/' + ${groupmate.id}}" th:text="${groupmate.firstName + ', ' + groupmate.lastName}">User</a>
</div>
</body>
</html>
