<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<h2>Список студентов</h2>

<!-- Используем Thymeleaf для итерации по списку студентов -->
<div th:each="student : ${students}">
    <!-- Используем Thymeleaf для вывода информации о студенте через запятую -->
    <p>
        <a th:href="@{'/admin/' + ${student.id}}">
            <span th:text="${ student.firstName + ', ' + student.lastName + ', faculty ' +  student.faculty + ', group ' + student.group}"></span>
        </a>
    </p>
</div>

</body>
</html>
