<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о студенте</title>
</head>
<body>
<h2>Информация о студенте</h2>

<!-- Используем Thymeleaf для вывода информации о студенте -->
<form th:action="@{'/admin/' + ${student.getId()}}" method="post" th:object="${newStudent}">
    <p>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName" th:value="${student.getFirstName()}" />
    </p>
    <p>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName" th:value="${student.getLastName()}" />
    </p>
    <p>
        <label for="faculty">Факультет:</label>
        <input type="text" id="faculty" name="faculty" th:value="${student.getFaculty()}" />
    </p>
    <p>
        <label for="group">Группа:</label>
        <input type="text" id="group" name="group" th:value="${student.getGroup()}" />
    </p>
    <p>
        <button type="submit">Update</button>
    </p>
</form>

</body>
</html>
